mat-row:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.add-btn {
  position: absolute;
  right: 18px;
  top: 75px;
}

.mat-column-id {
  max-width: 60px;
}

.mat-column-actions {
  max-width: 60px;
}

